
a{
    color: rgb(36, 36, 36);
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}
a:hover{
    text-decoration: underline;
}
#glogo{
    display: flex;
    justify-content: center;
    padding-top: 110px;
    height: 110px;
    
}
.input1{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
#searchbar{
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    height: 30px;
    width: 700px;
    border:2px solid #eaeaea;
    outline:none;

}
.input2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}
#gsearch, #lucky{
    margin: 10px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    color: rgba(78, 78, 78, 0.993);
}
#gsearch:hover, #lucky:hover{
    filter: drop-shadow(0 0 1px);
    color: black;

}
#searchbar:hover{
    filter: drop-shadow(1px 1px 3px #5f5e5e81);
}
#searchbar[type='text']{ 
    font-size: 20px; 
}
header{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    flex-direction: row;
}

.head1{
    display: flex;
    flex-direction: row;
    
}
#about{
    padding: 0 20px 0 0;
}
#apps{
    padding: 0 20px 0 20px;
    display: block;
    
}
#signin{
    background-color: #3957ddbe; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 570;
    border-radius: 5px;
}
.head2{
    display: flex;
    flex-direction: row;
}
#images{
    padding: 0 0 0 20px;
 }   
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f3f3f3;
    overflow: hidden;
}
li{
    float: left;
}
li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: 19px;
    color: rgba(78, 78, 78, 0.993);
  }